@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  background-color: #6e73be;
  font-family: "Nunito";
  font-weight: 300;
  color: #fffff5;
  text-align: center;
}

::selection {
  background-color: #fcd84e;
  color: #fffdd9;
}

a {
  text-decoration: none;
  color: #bec8f0;
}

a:hover {
  text-decoration-color: #fcd84e;
  color: #fcd84e;
}

input, button, textarea {
  border-radius: 3px;
}

input, textarea {
  background-color: #fafafa;
  border: 0;
}

input:focus, textarea:focus {
  background-color: #8f7cf7;
  outline: none;
}

input[type="text"], input[type="password"] {
  width: 230px;
}

div {
  margin-top: 10px;
  margin-bottom: 10px;
}

.ghost {
  position: absolute;
  padding: 4px;
}

.integrated {display: inline}

.white-form, .structured-text {
  background-color: #e1e1fa;
  border: solid 2px #b4b4d2;
  border-radius: 5px;
}

.structured-text {
  margin-top: 3px;
  display: inline-block;
}

.structured-text * {
  margin: 4px 6px 4px 6px;
  color: #262626;
}

.structured-text a {color: #8f87ff}

.structured-text a:hover {color: #ffdd00}

button {
  background-color: #8e7aff;
  color: #282828;
  border: solid 1px #8c78ff;
}

button:active {
  background-color: #fcd84e;
  border-color: #fcd84e;
}

.form-footer {padding-top: 6px}

.game-window {
  background-color: #fffdd9;
  width: 504px;
  height: 504px;
  border: solid 2px #fcd84e;
  border-radius: 2px;
  display: inline-block;
}

.error {
  color: #282828;
}

.user-description {
  width: 200px;
  height: 100px;
  resize: none;
}

#error-code {
  font-size: 122px;
}

#error-description {
  font-size: 20px;
}

#error-description, #error-code {
  color: #282828;
}

#registration-error {padding-left: 10px}

.users-icon {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: solid 2px #bec8f0;
}

#self-description {
  width: 240px;
  display: inline-block;
}

#mutable-information {
  text-align: left;
  position: relative;
  bottom: 20px;
}

.garbage-of-form {
  margin-bottom: 7px
}

.garbage-of-form:last-child {
  margin-bottom: 4px;
}

.internal-loader {
  display: none;
}


#add-image-button, #remove-image-button {
  position: relative;
  bottom: 40px;
}

#add-image-button {
  right: 53px;
}

#remove-image-button {
  left: 53px;
}

#wraper-for-submit-button {
  text-align: center;
}

.js-text {
  color: #282828;
  background-color: #fcd84e;
  border-radius: 2px;
  display: inline-block;
}

#naming {
  bottom: 60px;
  position: relative;
}

.hint {
  opacity: 0px;
  display: inline-block;
  position: relative;
  left: 105px;
  bottom: 50px;
  background-color: #252328;
  border-radius: 5px;
  padding: 5px;
  font-size: 13.5px;
}

.js-text, .error {font-weight: bold}
