{% extends 'base.html' %}

{% block title %}JSnake login{% endblock %}

{% block body %}
<header>
  <h2>Authorization to snake account</h2>
</header>
<main>
  <form method="POST" id="account-form">
    <div class="structured-text">
      <div class="login">
        <input type="text" name="login" placeholder="Username or email" maxlength="256" required>
      </div>
      <div class="password">
        <input type="password" name="password" placeholder="Password" maxlength="256" required>
      </div>
      <button type="submit" class="push-data">Sign up</button>
    </div>
  </form>
</main>
<script src="static\js\authorization.js"></script>
{% endblock %}
