{% extends 'base.html' %}

{% block title %}JSnake{% endblock %}

{% block body %}
<header>
  <h1>It's a snake made in <span class="js-text">JS</span></h1>
</header>
<main>
  <noscript>JavaScript is disabled. Turn it on :(</noscript>
  <div class="game-window">
    <canvas id="main-surface" width="500" height="500"></canvas>
  </div>
</main>
<footer>
  {% if link_to_user %}
    <a id="profile-way" href={{url_for("profile", user_url=link_to_user)}}>profile</a>
  {% else %}
  <a id="registration-way" href="/registration">registration</a>
  <a id="authorization-way" href="/authorization">authorization</a>
  {% endif %}
</footer>
<script type="module" src="static\js\main-page.js"></script>
{% endblock %}
