{% extends 'base.html' %}

{% block title %}{{url}}{% if name %} ({{name}}){% endif %}{% endblock %}

{% block body %}
  <div id="about-user">
    <div>
      <a href={% if is_account_my_own %}{{url_for("change_profile")}} {% else %}{{url_for("api_for_user_icon", user_url=url)}} {% endif %}><img id="user-icon" src={{url_for("api_for_user_icon", user_url=url)}}></a>
    </div>
    <div id="nameing">
      <h3>{% if name %}{{name}} {% else %}{{url}} {% endif %}</h3>
    </div>
    {% if self_description %}
      <div id="self-description">
        <span>{{self_description}}</span>
      </div>
    {% endif %}
  </div>


  <script src={{url_for("static", filename="js/profile.js")}}></script>
{% endblock %}
