{% extends 'base.html' %}

{% block title %}{{url}}{% if name %} ({{name}}){% endif %}{% endblock %}

{% block body %}
  <main>
    <div id="icon-block">
      <div>
        <a id={% if is_account_my_own %}to-change-profile-page{% else %}to-icon {% endif %} href={% if is_account_my_own %}{{url_for("change_profile")}} {% else %}{{url_for("api_for_user_icon", user_url=url)}} {% endif %}><img class="user-icon" src={{url_for("api_for_user_icon", user_url=url)}}></a>
      </div>
      <div id="change-profile-hint" class="hint">Change profile</div>
    </div>
    <div id="naming">
      <h3 class="username">{% if name %}{{name}} {% else %}{{url}} {% endif %}</h3>
      {% if self_description %}
      <textarea class="user-description" disabled>{{self_description}}</textarea>
      {% endif %}
    </div>
  </main>
  <script type="module" src={{url_for("static", filename="js/profile.js")}}></script>
{% endblock %}
