{% extends 'base.html' %}

{% block title %}JSnake registration{% endblock %}

{% block body %}
<header>
  <h2>Create your snake account!</h2>
</header>
<main>
  <form method="post" id="user-form">
    <div class="structured-text">
      <div id="user-name">
        <input type="text" name="name" placeholder="Some name" maxlength="256">
      </div>
      <div id="user-email">
        <input type="text" name="email" placeholder="Some email" maxlength="256">
      </div>
      <div id="user-password">
        <input type="password" name="password" placeholder="Account password" maxlength="256">
      </div>
      <div class="some-papers">
        <input type="checkbox" name="isAgree">I agree with all<a href="\static\text\policy.txt">papers</a>
      </div>
      <button type="submit" class="push-data" >Sign up</button>
    </div>
  </form>
</main>
<script src="static\js\registration.js"></script>
{% endblock %}
